.skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding-top: 50px;
}

.skills-container{
    width: 50%;
    margin: auto;
}

.skills-section {
    display: flex;
    justify-content: space-between;
    margin: 80px 0px;
}

.skills-section-title {
    font-size: 24px;
    font-weight: 600;
    color: #2ec4b6;
}

.section-title {
    font-size: 34px;
    font-weight: 600;
    color: #2ec4b6;
    margin: 50px auto 10px auto;
    text-decoration: underline;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    justify-content: flex-end;
    color: #2b2d42;
}

@media only screen and (max-width: 1260px) {
    .skills-list {
        max-width: 100%;
        justify-content: center;
    }

    .skills-section{
        flex-direction: column;
        align-items: center;
    }

    .skills-container{
        width: 80%;
    }

}

