.contact{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 30px;
}

.section-title{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

.contact-container{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;
    width: 50%;
    margin: auto;
}

.contact-left{
    max-width: 60%;
    font-size: 20px;
    text-align: center;
    color: #2b2d42;
}

.download{
    background-color: #2ec4b6;
    padding: 8px 16px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.download a{
    text-decoration: none;
    color: #ffffff;
}

.download a:hover {
    text-decoration: none;
    color: #ff9f1c;
}

.download-icon{
    margin-right: 10px;
}

@media only screen and (max-width: 1250px) {
    .contact-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-left{
        max-width: 100%;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .download{
        font-size: 20px;
    }
}